{{define "head"}}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"/>
    <title>{{if .title}}{{.title}} | {{end}}{{SiteTitle}}</title>
    {{- if .title}}
    <meta property="og:title" content="{{.title}}" />
    <meta property="og:type" content="article" />
    {{else}}
    <meta property="og:title" content="{{SiteTitle}}" />
    <meta property="og:type" content="website" />
    {{end -}}
    <meta property="og:site_name" content="{{SiteTitle}}" />
    <link rel="icon" href="{{FaviconURL}}" type="{{FaviconMimeType}}" />
    {{if StylesAppend}}<link rel="stylesheet" href="{{"/assets/css/style.css" | AssetStamp}}">{{end}}
    {{if EnablePrism}}<link rel="stylesheet" href="{{"/assets/css/prism-vsc-dark-plus.css" | AssetStamp}}">{{end}}
    <link rel="alternate" href="/rss.xml" type="application/rss+xml" title="{{SiteTitle}}">
    {{if .query}}<link rel="alternate" href="/rss.xml?q={{.query}}" type="application/rss+xml" title="{{SiteTitle}} - #{{.query}}">{{end}}
    {{if WebmentionDomain}}<link rel="webmention" href="https://webmention.io/{{WebmentionDomain}}/webmention" />{{end}}
    {{if BridgyFedWeb}}<link rel="me" href="https://{{BridgyFedWeb}}/r/{{SiteURL}}/"/>{{end}}
    {{if IndieLoginURI}}<link rel="me authn" href="{{IndieLoginURI}}"/>{{end}}
    <meta name="author" property="author" content="{{SiteAuthor}}" />
    <meta name="description" content="{{if .metadescription}}{{.metadescription}}{{else}}{{SiteDescription}}{{end}}" />
    {{if .fedicreator}}<meta name="fediverse:creator" content="{{.fedicreator}}" />{{end}}
    {{if .canonical -}}
    <link rel="canonical" href="{{.canonical}}" />
    <meta property="og:url" content="{{.canonical}}" />
    {{- end}}

    <meta property="og:image" content="{{FaviconLargeURL}}" />
    <meta property="og:image:alt" content="Emoji icon of {{SiteTitle}}" />
    <meta property="og:image:type" content="{{FaviconMimeType}}" />
    <meta property="og:image:width" content="618" />
    <meta property="og:image:height" content="618" />

    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {{if EnablePrism}}
    <style>
    pre[class*="language-"] {
        padding: 0 !important;
    }

    code[class*="language-"] {
        background-color: inherit;
    }
    </style>
    {{end}}
    {{if SiteStyles}}
    <style>
    {{SiteStyles}}
    </style>
    {{end}}
</head>
{{end}}
