<!DOCTYPE html>
<html lang="{{- if .postLang -}}
{{.postLang}}
{{- else -}}
{{- if .siteLang -}}
{{.siteLang}}
{{- else -}}
en
{{- end -}}
{{- end -}}
">

{{template "head" .}}

<body>
    <header>
        <a class="title" href="/">
            <h2>{{SiteSubtitle}}</h2>
        </a>
        <nav>
            <a href="{{HomeURL}}">Home</a>
            {{if Authenticated}}<a href="/dashboard">Dashboard</a>{{end}}
            {{range $p := PublishedPages}}
            <a href="/{{.URL}}">{{.Title}}</a>
            {{end}}
            <a href="/blog">Blog</a>
            {{if BridgyFedWeb}}
            <link rel="me" href="https://{{BridgyFedWeb}}/r/{{SiteURL}}/"/>
            {{end}}
            {{if IndieLoginURI}}
            <link rel="me authn" href="{{IndieLoginURI}}"/>
            {{end}}
        </nav>
    </header>

    <article{{if .microformat}} class="h-entry"{{end}}>
    <main>
        {{if .title}}
        <h1{{if .microformat}} class="p-name"{{end}}>{{.title}}</h1>
        {{end}}
        {{if .pubdate}}
        <p>
            <i>
                <time class="dt-published" datetime="{{.pubdate | Stamp}}" pubdate>
                    {{.pubdate | StampHuman}}
                </time>
                {{if Authenticated}}<a href="/dashboard/posts/{{.id}}">edit</a>{{end}}
            </i>
            
        </p>
        {{end}}
        <content{{if .microformat}} class="e-content"{{end}}>
            {{if .query}}
            <h3 style="margin-bottom:0">Filtering for "{{.query}}"</h3>
            <small>
                <a href="/blog">Remove filter</a>
            </small>
            {{end}}
            {{template "content" .}}
        </content>
        {{if .tags}}
        <small>
            <div>
                {{range $p := .tags}}
                <a class="p-category" href="/blog?q={{.Name}}">#{{.Name}}</a>
                {{end}}
            </div>
        </small>
        {{end}}

        {{if .bridgyFed}}
        <div style="display:none;">
          <a class="u-bridgy-fed" href="{{.bridgyFed}}" hidden="from-humans"></a>
        </div>
        {{end}}

        {{if and .pubdate DisqusID}}
        <div id="disqus_thread"></div>
        {{end}}
        {{if and .pubdate CactusSiteName}}
        <script type="text/javascript" src="/assets/cactus/v0.13.0.js"></script>
        <link rel="stylesheet" href="/assets/cactus/v0.13.0.css" type="text/css">
        <div id="comment-section"></div>
        <script>
        initComments({
          node: document.getElementById("comment-section"),
          defaultHomeserverUrl: "https://matrix.cactus.chat:8448",
          serverName: "cactus.chat",
          siteName: "{{CactusSiteName}}",
          commentSectionId: "{{.posturl}}"
        })
        </script>
        {{end}}
    </main>
    <footer>
        {{.footerHTML}}
    </footer>
    </article>

    {{if GoogleAnalyticsID}}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{GoogleAnalyticsID}}"></script>
    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{GoogleAnalyticsID}}');
    </script>
    {{end}}
    {{if and .pubdate DisqusID}}
    <script type="text/javascript">
        var disqus_config = function () {
            this.page.url = '{{SiteURL}}/{{.posturl}}';
            this.page.identifier = '{{.id}}';
        };
        (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://{{DisqusID}}.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    </script>
    {{end}}
    {{if EnablePrism}}
    <script src="https://unpkg.com/prismjs@1.23.0/components/prism-core.min.js"></script>
    <script src="https://unpkg.com/prismjs@1.23.0/plugins/autoloader/prism-autoloader.min.js"></script>
    {{end}}
</body>

</html>
